.mat-success {
    background-color: #3D7EC5;
    color: #fff;
}
.mat-success:hover {
    background-color: #82b1e2;
    color: #fff;
}
.mat-warn {
    background-color: #cc3300;
    color: #fff;
}
button.warn:hover {
    background-color: #e63d05;
    color: #fff;
}