$secondary-text-color: #fff;



.see_details{
    color: #2B6CB0;
    
}
.see_details:hover{
    color: #7ca5d1;
    text-decoration: underline;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
}

.navbar-title{
    color: $secondary-text-color;
    font-weight: 500;
}

@media screen  and (min-width: 300px) and (max-width:500px){
    .mat-mdc-cell > button:first-child {
        margin: 5px 0 5px 0;
    }
    .mat-mdc-cell > button {
        margin: 0 0 5px 0
    }

}